.expGrid {
  height: 400px;
  /* border: 1px solid #ffffff; */
  width: 36%;
}

.expGrid h2 {
  font-family: Ubuntu;
  font-size: 28px;
  font-style: italic;
  font-weight: 700;
  line-height: 32.17px;
  text-align: left;
  color: #fff;
}

.expCard {
  /* width: 417px; */
  height: 345px;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 0px 4px 4px 0px #00000040;
  padding: 10px;
}
.barCss {
  width: 100% !important;
  height: 342px !important;
}
@media screen and (max-width: 600px) {
  .expGrid {
    width: 97%;
  }
}
